<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.uploads.any? %>
      <h3>Uploads (<%= @user.uploads.count %>)</h3>
      <ol class="uploads">
        <%= render @uploads %>
      </ol>
      <%= will_paginate @uploads %>
    <% end %>
  </div>
</div>